<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link href="/style/social-share-kit-1.0.14/dist/css/social-share-kit.css" rel="stylesheet" type="text/css"/>
    <!--global styling-->
    <!--<link rel="stylesheet" href="../style/products-style.css">-->
    <style>    
    </style>
</head>
<body>
    <div class="ssk-sticky ssk-left ssk-center ssk-lg">
        <a href class="ssk ssk-facebook"></a>
        <a href class="ssk ssk-twitter"></a>
        <a href class="ssk ssk-google-plus"></a>
        <a href class="ssk ssk-email"></a>
    </div>
    <script>
        
    </script>
</body>